<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <nav class="panel">
          <p class="panel-heading">Trends</p>
          <a href="" class="panle-block">Trend 1</a>
          <a href="" class="panle-block">Trend 1</a>
        </nav>
      </div>
      <div class="column is-half">
        <article class="media box">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <%= render 'form', post: @post %>
          </div>
        </article>  
      
      <% @posts.each do |post| %>
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png" />
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <strong>baki ruhunnabi</strong>
                <small>@abmr</small>
                <p><%= post.post %></p>
              </div>
              <nav class="level-left is-mobile">
                <%= link_to post, class: "level-item" do%>
                  <span class="icon">
                    <i class="fa fa-link" aria-hidden="true">View</i>
                  </span>
                <% end %>
                <%= link_to edit_post_path(post),  class: "level-item" do %>
                  <span class="icon">
                    <i class="fa fa-pencil" aria-hidden="true">Edit</i>
                  </span>
                <% end %>
                <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do%>
                  <span class="icon">
                    <i class="fa fa-trash-o" aria-hidden="true">Delete</i>
                  </span>
                <% end %>
              </nav>
            </div>
          </article>
        </div>  
      
      <% end %>
      </div>

      <div class="column">
        <nav class="panel">
          <h3 class="panel heading">
            You may know
          </h3>
        </nav>
        <div class="panel-block">
          <article class="media">
            <div class="media-left">
              <figure class="image is-32x32">
                <img src="https://bulma.io/images/placeholders/64x64.png" /> 
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Name</strong>
                  <small>@name</small>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>

    </div>
  </div>
</section>

