<section class="section">
  <div class="container">
    <div class="columns">
    	<div class="column is-half">
    		
						
			<p id="notice"><%= notice %></p>
			<%= link_to 'Back', posts_path %>
			<p>
			  <strong>Post:</strong>
			  <%= @post.post %>
			</p>
			<% if current_user.email == @post.user.email %>
			<%= link_to 'Edit', edit_post_path(@post) %> |
			<% end %> 
			

			<%= form_with model: [@post, @comment], local: false do |f| %>
				<%= f.text_field :body, class: "textarea" %>
				<%= f.submit "Comment", class:"button is-info" %>
			<% end %>

			<div class="box" id="comment_pane">
			  	<% @comments.each do |comment| %>
			  	<%= render 'comments/comment', comment: comment %> 	
					
					
				<% end %>	
			</div>
					

    	</div>
	</div>
  </div>
</section>



